.sidebar-main {
  border-right: 1px solid lightgray;
  text-align: center;
}

.sidebar {
  min-width: 200px;
  max-width: 300px;
}

.main-nav-wrapper .active {
  background-color: #eee;
}

.avatar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  /* margin: 2rem 1rem 1rem 1rem; */
  min-width: 4rem;
  display: block;
  max-width: 20rem;
  max-height: 20rem;
  width: 90%;
  height: auto;
}

.main-nav-wrapper {
  margin: 4rem 0rem 4rem 0rem;
}

.main-content-wrapper {
  margin: 2rem 0rem 4rem 0rem;
}

h1 {
  text-align: center;
  padding: .5rem .5rem 2rem .5rem;
}

.pool-list {
  margin: 1rem .5rem 1rem .5rem;
}


.pool-avatar {
  border-right: 1px solid lightgray;
  text-align: center;
}

.pool-avatar .avatar {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pool-header b {
  margin-left: .5rem;
}

.pool-header {
  border-bottom: 1px solid lightgray;
}

.pool-body {
  padding: 1rem 1rem 1rem 1rem;
}

.pool-card {
  margin: 2rem .5rem .5rem .5rem;
  border-bottom: 1px solid lightgray;
  /* box-shadow: 2px 2px 5px #ddd; */
}

.main-tabs-wrapper {
  border: .2rem solid #ececec;
  padding: 1rem;
  border-radius: 8px 8px 0 0;
}