.sidebar-main {
  /* background-color: rosybrown; */
  border-right: 1px solid lightgray;
}

.active {
  background-color: #eee;
}

.avatar {
  margin: 2rem 1rem 1rem 1rem;
}

.main-nav-wrapper {
  margin: 4rem 0rem 4rem 0rem;
}

.main-content-wrapper {
  margin: 4rem 0rem 4rem 0rem;
}

h1 {
  text-align: center;
  padding: 0.5rem 0.5rem 4rem 0.5rem;
}